:root {
  --primary: #4E5B67;
  --black: #101F33;
  --gray: #787885;
  --white: #FFFFFF;
  --divider: #EAEFF3;
  --purple: #9C3CE7;
  --alizarin: #E74C3C;
  --active: #6B8A9F;
  --nonactive: #878F99;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--black);
}

svg {
  max-width: 100%;
  max-height: 100%;
}

img {
  max-width: 100%;
}

.hidden {
  display: none !important;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.16s ease;
}

p {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

.h-36,
.like-h1,
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.h-24,
.like-h2,
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.019em;
}

.h-18,
.like-h3,
h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.014em;
}

.h-14,
.like-h4,
h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
}

.h-12,
.like-h5,
h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 5px 0 10px;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary);
  border: 0;
  outline: 0;
  background: #F4F4F4;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.input:-ms-input-placeholder {
  color: var(--gray);
}

.input::placeholder,
.input::-ms-input-placeholder,
.input::-moz-placeholder {
  color: var(--gray);
}

.input[readonly] {
  opacity: 0.3 !important;
}

/*
  Checkbox
 */

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  --checkbox-color: var(--black);
  position: relative;
  display: inline-flex;
  cursor: pointer;
}

.checkbox + label::before,
.checkbox + label::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
}

.checkbox + label::before {
  flex-shrink: 0;
  margin-top: 2px;
  margin-right: 12px;
  border: 1.3px solid var(--checkbox-color);
  border-radius: 2px;
}

.checkbox + label::after {
  position: absolute;
  top: 2px;
  left: 0;
  opacity: 0;
  background-color: var(--checkbox-color);
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' fill='none'%3E%3Cpath fill-rule='evenodd' d='M9.642.223a.65.65 0 0 1-.032.919L3.36 6.975a.65.65 0 0 1-.887 0L.39 5.031a.65.65 0 0 1 .887-.95l1.64 1.531L8.723.191a.65.65 0 0 1 .919.032z' fill='%23101f33'/%3E%3C/svg%3E") center/auto no-repeat;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' fill='none'%3E%3Cpath fill-rule='evenodd' d='M9.642.223a.65.65 0 0 1-.032.919L3.36 6.975a.65.65 0 0 1-.887 0L.39 5.031a.65.65 0 0 1 .887-.95l1.64 1.531L8.723.191a.65.65 0 0 1 .919.032z' fill='%23101f33'/%3E%3C/svg%3E") center/auto no-repeat;
  transition: opacity 0.16s ease;
  z-index: 1;
}

.checkbox:checked + label::after {
  opacity: 1;
}

.checkbox:disabled + label,
.checkbox.disabled + label {
  opacity: 0.3;
  pointer-events: none;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 20px;
  border: 1px solid;
  border-radius: 3px;
  background: none;
  outline: none;
  cursor: pointer;
}

.button_white {
  color: var(--white);
  border-color: var(--white);
}

.link_more {
  display: flex;
  align-items: center;
  -moz-column-gap: 2px;
  column-gap: 2px;
  letter-spacing: -0.02em;
}

.link_more .link__icon {
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}

.icon-favourite {
  fill: transparent;
  stroke: var(--black);
}

.header {
  position: relative;
  z-index: 20;
}

.header__container {
  --bs-gutter-x: 10px;
  position: relative;
  z-index: 20;
  background-color: var(--white);
}

.header-main {
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-main__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.header-main__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.header-top-info {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--divider);
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: var(--primary);
  text-align: center;
}

.logo {
  display: inline-block;
}

.logo__image {
  display: block;
}

.hamburger-icon {
  position: relative;
  width: 19px;
  height: 13px;
}

.hamburger-icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  border-radius: 1px;
  transition: all 0.2s ease;
}

.hamburger-icon span:nth-child(1) {
  top: 0;
}

.hamburger-icon span:nth-child(2) {
  top: 6px;
}

.hamburger-icon span:nth-child(3) {
  top: 12px;
}

.mobile-menu-opened .hamburger-icon span:nth-child(1) {
  transform: rotateZ(45deg);
  top: 7px;
}

.mobile-menu-opened .hamburger-icon span:nth-child(2) {
  width: 0;
}

.mobile-menu-opened .hamburger-icon span:nth-child(3) {
  transform: rotateZ(-45deg);
  top: 7px;
}

.header-button {
  cursor: pointer;
}

.header-button_link {
  display: flex;
  align-items: center;
}

.header-button_icon {
  display: block;
  min-width: 40px;
  height: 40px;
}

.header-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 3px auto 0;
}

.header-button__icon_indicator {
  position: relative;
}

.header-button__icon_indicator:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 1;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #56738E;
}

.header-button__label {
  text-align: center;
}

.header-button_icon .header-button__label {
  font-size: 14px;
  line-height: 20px;
}

.header-button_icon .header-button__label {
  margin-top: 2px;
  font-size: 11px;
  line-height: 10px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 30;
  visibility: hidden;
  transition: visibility 0.36s ease;
}

.mobile-menu-opened .mobile-menu {
  visibility: visible;
}

.mobile-menu__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.36s ease;
}

.mobile-menu-opened .mobile-menu__overlay {
  opacity: 1;
}

.mobile-menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 640px;
  width: 100%;
  background-color: var(--white);
  transform: translateX(-100%);
  transition: transform 0.36s ease;
}

.mobile-menu-opened .mobile-menu__inner {
  transform: translateX(0);
}

.mobile-menu__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-menu__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mobile-menu__content {
  height: calc(100vh - 40px);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  overflow-y: auto;
}

.mobile-menu_has_city .mobile-menu__content {
  height: calc(100vh - 95px);
}

.mobile-menu-item {
  font-size: 14px;
  color: var(--black);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--divider);
}

.mobile-menu-item__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  line-height: 25px;
}

.mobile-menu-item__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  transform: rotate(-90deg);
  transition: transform 0.36s ease;
  cursor: pointer;
}

.mobile-menu-item_opened .mobile-menu-item__arrow {
  transform: rotate(0);
}

.mobile-menu-item__submenu {
  display: none;
  padding-top: 13px;
}

.mobile-menu-item__submenu-link {
  font-weight: 400;
  line-height: 20px;
}

.mobile-menu-item__submenu-link:not(:last-child) {
  margin-bottom: 13px;
}

.mobile-menu-bottom {
  margin-top: 30px;
}

.mobile-menu-bottom__title {
  margin-bottom: 20px;
}

.mobile-menu-bottom p:not(:last-child) {
  margin-bottom: 3px;
}

.mobile-menu-bottom__group:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-menu-bottom .worktime {
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
  color: var(--primary);
}

.mobile-menu-bottom .socials {
  margin-top: -10px;
}

.search {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  transition: visibility 0.36s ease;
}

.search-opened .search {
  visibility: visible;
}

.search__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.36s ease;
}

.search-opened .search__overlay {
  opacity: 1;
}

.search__container {
  --bs-gutter-x: 10px;
  position: relative;
  background: var(--white);
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.36s ease;
}

.search-opened .search__container {
  opacity: 1;
  transform: translateY(0);
}

.search__inner {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid var(--divider);
}

.search-row {
  align-items: center;
}

.search-row__input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 0;
  outline: none;
  background: #F4F4F4;
  border-radius: 3px;
}

.search-row__clear-icon {
  display: block;
  width: 25px;
  height: 25px;
}

.search-results {
  margin-top: 30px;
}

.search-results__item:not(:last-child) {
  margin-bottom: 10px;
}

.search-results .card-product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 10px;
  column-gap: 10px;
  width: 100%;
  height: 175px;
}

.search-results .card-product__image {
  width: 115px;
  height: 100%;
}

.search-results .card-product__caption {
  margin-top: 0;
}

.search-history {
  margin-top: 30px;
}

.search-history__items {
  margin-top: 10px;
}

.search-history__item {
  padding-top: 11px;
  padding-bottom: 11px;
}

.search-history__item:not(:last-child) {
  border-bottom: 1px solid var(--divider);
}

.search-history__item-row {
  align-items: center;
}

.search-history__item-remove-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.search-suggestions {
  margin-top: 30px;
}

.search-suggestions__items {
  margin-top: 20px;
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__subscribe-form {
  background-color: var(--active);
}

.footer__menus {
  padding-bottom: 10px;
}

.footer__socials {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid var(--divider);
}

.footer__bottom {
  padding-top: 10px;
  border-top: 1px solid var(--divider);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.footer__copyright {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer__creator {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer__creator span {
  color: var(--nonactive);
}

.footer-menu__title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-menu__title-arrow {
  width: 25px;
  height: 25px;
}

.footer-menu__items {
  margin: 0;
  padding: 5px 0 15px;
  list-style: none;
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.subscribe-form {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--white);
}

.subscribe-form__title {
  text-align: center;
  line-height: 30px;
}

.subscribe-form__form {
  margin-top: 30px;
}

.subscribe-form__checkbox {
  margin-top: 15px;
}

.subscribe-form__checkbox label {
  --checkbox-color: var(--white);
}

.subscribe-form__button {
  margin-top: 30px;
  text-align: center;
}

.add-to-favourite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.add-to-favourite__icon {
  transition: all 0.16s ease;
}

.add-to-favourite_active .add-to-favourite__icon {
  fill: var(--alizarin);
  stroke: var(--alizarin);
}

.dropdown-menu {
  display: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: top 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
  z-index: 100;
  top: 100% !important;
  transform: none !important;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 12px) !important;
}

.dropdown-menu-end {
  --bs-position: end;
  right: 0 !important;
  left: auto !important;
}

.socials__items {
  display: flex;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.socials__item {
  line-height: 40px;
}

.bottom-navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--white);
}

.bottom-navbar-btn {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
  padding-top: 10px;
  padding-bottom: 7px;
  cursor: pointer;
}

.bottom-navbar-btn__icon {
  position: relative;
  width: 25px;
  height: 25px;
}

.bottom-navbar-btn__icon_indicator:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 1;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #56738E;
}

.bottom-navbar-btn__label {
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  color: var(--black);
}

.swiper-button {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #F4F4F4;
  border-radius: 40px;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.swiper-button-prev {
  left: 5px;
}

.swiper-button-next {
  right: 5px;
}

.swiper-button-disabled {
  opacity: 0;
}

.swiper-button__arrow {
  width: 25px;
  height: 25px;
}

.swiper-button-prev .swiper-button__arrow {
  transform: rotate(90deg);
}

.swiper-button-next .swiper-button__arrow {
  transform: rotate(-90deg);
}

.main-slider {
  position: relative;
}

.main-slider .swiper-pagination {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 5px;
  column-gap: 5px;
  width: 100%;
}

.main-slider .swiper-pagination-bullet {
  flex: 1 0 auto;
  height: 4px;
  background-color: var(--white);
  border-radius: 2px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.main-slider .swiper-pagination-bullet-active {
  opacity: 1;
}

.main-slider .slide {
  width: 100%;
  height: 540px;
}

.main-slider .slide__background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-slider .slide__background:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.main-slider .slide__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-slider .slide__content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background: linear-gradient(0.66deg, rgba(0, 0, 0, 0.4) 14.02%, rgba(0, 0, 0, 0) 68.56%);
}

.main-slider .slide__container {
  color: var(--white);
}

.main-slider .slide__overtitle {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.main-slider .slide__button {
  margin-top: 20px;
}

.cards-slider-section {
  margin-top: 45px;
  margin-bottom: 40px;
  overflow: hidden;
}

.cards-slider-section__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.cards-slider {
  position: relative;
  margin-top: 15px;
  overflow: visible;
}

.cards-slider_product .swiper-button {
  top: 122px;
}

.card-capsule {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 240px;
  height: 360px;
  border-radius: 4px;
  overflow: hidden;
}

.card-capsule:not(:last-child) {
  margin-right: 10px;
}

.card-capsule__image {
  position: absolute;
  z-index: 0;
  inset: 0;
  height: 100%;
}

.card-capsule__image::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: linear-gradient(0.66deg, rgba(0, 0, 0, 0.4) 25.72%, rgba(0, 0, 0, 0) 68.56%);
}

.card-capsule__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card-capsule__caption {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 15px;
  color: var(--white);
}

.card-capsule__description {
  margin-top: 10px;
  letter-spacing: -0.02em;
}

.card-product {
  position: relative;
  width: 175px;
}

.card-product:not(:last-child) {
  margin-right: 10px;
}

.card-product__image {
  position: relative;
  display: block;
  height: 245px;
  border-radius: 4px;
  overflow: hidden;
}

.card-product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card-product__caption {
  margin-top: 10px;
}

.card-product__title {
  letter-spacing: -0.02em;
}

.card-product__prices {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
  column-gap: 8px;
  margin-top: 5px;
}

.card-product__price {
  letter-spacing: -0.02em;
}

.card-product__price_old {
  font-size: 12px;
  letter-spacing: -0.006em;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.card-product .add-to-favourite {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
}

.promo-with-image {
  margin-top: 40px;
  margin-bottom: 50px;
}

.promo-with-image__image {
  height: 285px;
}

.promo-with-image__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.promo-with-image__content {
  display: flex;
  align-items: center;
}

.promo-with-image__content-inner {
  padding-left: 15px;
  padding-right: 15px;
}

.promo-with-image__text {
  margin-top: 10px;
}

.promo-with-image__button {
  margin-top: 20px;
}

.categories-grid {
  margin-top: 40px;
  margin-bottom: 40px;
}

.categories-grid-group {
  position: relative;
}

.categories-grid-group__images {
  height: 210px;
  background-color: var(--primary);
}

.categories-grid-group__caption {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.categories-grid-group__text {
  margin-top: 10px;
}

@media (min-width: 640px) {
  .subscribe-form {
    width: 480px;
  }

  .main-slider .slide {
    height: 640px;
  }

  .cards-slider_product .swiper-button {
    top: 200px;
  }

  .card-capsule {
    width: 320px;
    height: 520px;
  }

  .card-product {
    width: 285px;
  }

  .card-product__image {
    height: 400px;
  }

  .promo-with-image__image {
    height: 305px;
  }

  .categories-grid-group__images {
    height: 370px;
  }
}

@media (min-width: 770px) {
  .subscribe-form {
    width: 560px;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    padding-bottom: 80px;
  }

  .footer__menus {
    padding-bottom: 20px;
  }

  .footer__socials {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__bottom {
    padding-top: 20px;
  }

  .footer-menu__title-arrow {
    display: none;
  }

  .subscribe-form {
    width: 540px;
  }

  .bottom-navbar {
    display: none;
  }

  .main-slider .slide {
    height: 800px;
  }

  .cards-slider-section {
    margin-top: 85px;
    margin-bottom: 80px;
  }

  .promo-with-image {
    display: flex;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .promo-with-image__image {
    width: 50%;
    height: 405px;
  }

  .promo-with-image__content {
    width: 50%;
  }

  .categories-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 445px;
    gap: 10px;
    margin-top: 80px;
  }

  .categories-grid-group_max {
    grid-row: span 2;
  }

  .categories-grid-group__images {
    height: 100%;
  }

  .categories-grid-group__caption {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
  }
}

@media (min-width: 1600px) {
  .subscribe-form {
    width: 700px;
  }
}

@media (max-width: 1199.98px) {
  .footer-menu:not(:last-child) {
    border-bottom: 1px solid var(--divider);
  }

  .footer-menu__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .footer-menu__items {
    display: none;
  }

  body {
    padding-bottom: 50px;
  }

  .promo-with-image__content {
    margin-top: 15px;
  }

  .categories-grid-group:not(:last-child) {
    margin-bottom: 40px;
  }

  .categories-grid-group__caption {
    margin-top: 20px;
  }
}