- var menu_main_links = ['Одежда', 'Аксессуары', 'Коллекции', 'Адреса магазинов', 'О нас', 'Контакты', 'Оптовым покупателям'];
- var menu_sub_links = ['Блузы, топы и рубашки', 'Брюки, шорты и комбинезоны', 'Сумки', 'Настроение города, осень-зима ‘20/21'];

//-.mobile-menu.mobile-menu_has_city
.mobile-menu
  .mobile-menu__overlay
  .mobile-menu__inner
    .mobile-menu__top
      .mobile-menu__close-btn
        +svg('close')

    //-.mobile-menu-city
      .mobile-menu-city__row Ваш город:
        span.mobile-menu-city__current Санкт-Петербург

    .mobile-menu__content
      .mobile-menu__items
        for main in menu_main_links
          .mobile-menu-item.mobile-menu-item_parent
            .mobile-menu-item__link
              a(href=links.catalog)= main
              .mobile-menu-item__arrow
                +svg('arrow')
            .mobile-menu-item__submenu
              for sub in menu_sub_links
                .mobile-menu-item__submenu-link
                  a(href=links.catalog)= sub

      .mobile-menu-bottom
        .mobile-menu-bottom__title.like-h4 Вам нужна помощь?
        .mobile-menu-bottom__group
          p Позвоните нам по телефону:
          a(href="#") 8 800 551 90 50
          p.worktime С 10:00 до 22:00 по московскому времени
        .mobile-menu-bottom__group
          p Напишите на e-mail:
          a(href="#") int.shop@bgd-bogdanov.com

      .mobile-menu-bottom
        .mobile-menu-bottom__title.like-h4 СОЦИАЛЬНЫЕ СЕТИ
        include ../../components/_socials