include ../../mixins/cards/_card-product-search

.search
  .search__overlay
  .search__container.container
    .search__inner
      .search-row.row
        .search-row__input-block.col
           input(placeholder='Поиск').search-row__input
        .search-row__clear.col-auto
          a(href="#")
            +svg('close').search-row__clear-icon

      .search-results
        .search-results__items
          .search-results__item
            +card-product-search
          .search-results__item
            +card-product-search
          .search-results__item
            +card-product-search

      .search-history
        .search-history__top.row
          .search-history__title.col
            .like-h4 История поиска
          .search-history__clear.col-auto
            a(href="#").search-history__clear-btn Очистить
        .search-history__items
          for item in [1,2,3,4]
            .search-history__item
              .search-history__item-row.row
                .search-history__item-query.col
                  a(href="#") Query
                .search-history__item-remove.col-auto
                  a(href="#")
                    +svg('close').search-history__item-remove-icon


      //-.search-suggestions
        .search-suggestions__top.row
          .search-suggestions__title.col
            .like-h4 В тренде/Актуально
        .search-suggestions__items
          .search-suggestions__item
