mixin card-capsule()
  a(href='#').card-capsule.swiper-slide
    .card-capsule__image
      img(src=images_path + 'capsule.jpg')
    .card-capsule__caption
      .card-capsule__title.like-h3 Спортивная капсула
      .card-capsule__description
        p Спортивный стиль на каждый день, подобрали практичные и элегантные вещи