section.promo-with-image
  .promo-with-image__image
    img(src=images_path + 'promo.jpg')
  .promo-with-image__content
    .promo-with-image__content-inner
      .promo-with-image__title.like-h2 Бесплатная доставка с примеркой
      .promo-with-image__text
        p Заказывайте любую вещь из каталога с бесплатной доставкой и примеркой перед оплатой
      .promo-with-image__button
        a(href="#").button Подробнее о доставке