extends layout/_layout

block variables
  - var title = 'Главная'

block content
  section.container
    | fw slider

  section.container
    | capsules slider

  section.container
    | new products slider