extends layout/_layout

include mixins/_cards-slider-section

block variables
  - var title = 'Главная'

block content

  include components/sliders/_main-slider

  +cards-slider-section('Впечатления', 'Показать больше', 'capsule')

  +cards-slider-section('Новинки', 'Показать больше', 'product')

  include components/_promo-with-image

  +cards-slider-section('Платья', 'Показать больше', 'product')

  include components/_categories-grid