extends layout/_layout

block variables
  - var title = 'Главная'

block content
  section.container
    | main slider

  section.container
    | capsules slider

  section.container
    | products slider

  section.container
    | promo block

  section.container
    | products slider

  section.container
    | categories grid