:root {
    --primary: #4E5B67;
    --black: #101F33;
    --white: #FFFFFF;
    --divider: #EAEFF3;
    --purple: #9C3CE7;
    --alizarin: #E74C3C;
    --active: #6B8A9F;
    --nonactive: #878F99;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--black);
}

svg {
    max-width: 100%;
    max-height: 100%;
}

img {
    max-width: 100%;
}

.hidden {
    display: none !important;
}
