.link {
    $modMore: & + '_more';

    &_more {
        display: flex;
        align-items: center;
        column-gap: 2px;
        letter-spacing: -0.02em;
    }

    &__icon {
        #{$modMore} & {
            width: 20px;
            height: 20px;
            transform: rotate(-90deg);
        }
    }
}