a {
    color: inherit;
    text-decoration: none;
    transition: all $transitionLink;
}

p {
    margin-top: 0;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.h-36,
.like-h1,
h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}

.h-24,
.like-h2,
h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.019em;
}

.h-18,
.like-h3,
h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.014em;
}

.h-14,
.like-h4,
h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
}

.h-12,
.like-h5,
h5 {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}