.header-top-info {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--divider);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: var(--primary);
    text-align: center;
}