.search-results {
    margin-top: 30px;

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .card-product {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;
        width: 100%;
        height: 175px;

        &__image {
            width: 115px;
            height: 100%;
        }

        &__caption {
            margin-top: 0;
        }
    }
}