include ../mixins/_svg

block variables
- var images_path = './images/'
- var links = {'home': 'index.html', 'catalog': 'index.html', 'cart': 'index.html', 'account': 'index.html', 'favourite': 'index.html'}

doctype html
html(lang="ru")
  head
    title #{title} - BGD layout v2
    meta(charset="UTF-8")
    meta#mvp(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1")
    script
      | function svp(){let e=screen.width<=320?"width=320,user-scalable=no":"width=device-width,initial-scale=1,maximum-scale=1";document.getElementById("mvp").setAttribute("content",e)}svp();window.onresize=function(n){svp()}
    link(rel="preconnect" href='https://fonts.googleapis.com')
    link(rel="preconnect" href='https://fonts.gstatic.com', crossorigin)
    link(rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap')
    link(rel="stylesheet" href='./css/normalize.min.css')
    link(rel="stylesheet" href='./css/bootstrap-grid.min.css')
    link(rel="stylesheet" href='./css/swiper.min.css')
    link(rel="stylesheet" href='./css/common.min.css')
  body
    include ../components/header/_header

    main.page
      block content

    include ../components/footer/_footer
    include ../components/_bottom-navbar

    script(src="./js/jquery3.min.js", defer)
    script(src="./js/bootstrap.bundle.min.js", defer)
    //-script(src="./js/vue3.js", defer)
    script(src="./js/swiper-bundle.min.js", defer)
    script(src="./js/common.min.js", defer)